body {
  background-color: #e9ebf0; 
  margin: 0; 
  height: 100%; 
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  top: 35px; 
  text-align: center;
  margin-bottom: 550px;
}

.top-image {
  width: 170px;
  height: auto;
}

.rounded-container {
  border-radius: 29px;
  padding: 70px;
  background-color: #ffffff;
  border: 1px solid #fff;
  width: 800px; 
}

.form-control {
  height: 60px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 15px; 
}

.titulo {
  font-size: 27px;
  font-weight: bold;
}

.encabezado {
  font-size: 15px;
}

.imagen {
  width: 86px;
  height: auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

form .form-check-label {
  font-size: 0.9rem;
}

.texto {
  font-size: 14px; 
  line-height: 1.2;   
}

.texto a {
  color: inherit; 
  text-decoration: none; 
}

.texto a:hover {
  color: blue; 
  text-decoration: underline; 
}

@media (max-width: 576px) { /* Pantallas pequeñas sm*/
  .rounded-container {
      width: 100%;
      padding: 40px; 
  }
}

@media (min-width: 576px) and (max-width: 768px) { /* Pantallas medianas md */
  .rounded-container {
      width: 90%; 
      padding: 50px; 
  }
}

@media (min-width: 768px) and (max-width: 992px) { /* Pantallas grandes lg */
  .rounded-container {
      width: 80%; 
      padding: 60px; 
  }
}
